body {
  background-image: url(../imegs/GIF\ by\ Celergen.gif);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.img-nav-home {
  width: 55px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #009ad8;
  border: #009ad8 1px solid;
}

.nav-link {
  color: white;
  transition: all 0.4s;
  border: transparent 1px solid;
}

.nav-link:focus,
.nav-link:hover {
  color: #009ad8;
  border: #009ad8 1px solid;
}
.form-control:focus {
  color: white;
  background-color: white;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none;
}

.form-control::placeholder {
  color: #000000c5;
}

.item {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3), 0 0 30px rgba(255, 255, 255, 0.1);

  padding: 20px;

  z-index: 1;
}
